@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;

  background-color: #f5f5f5;
  color: #323332;
}

.image-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 2 auto;
  justify-content: space-between;
  background: no-repeat 55% url("../img/duck_bg.jpg");
}

.logo-area {
  height: fit-content;
  width: 100%;
  margin-top: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 7rem;
  }

  & h1 {
    font-family: "Protest Riot", sans-serif;
    font-size: 5rem;
    color: #FFF;
    padding-right: 25px;
    margin: 0;
  }
}

.caption {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  text-align: center;
  color: #FFF;

  & a {
    font-style: italic;
    color: #FFF;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  justify-content: center;

  &  > * {
    margin: 0 3vw 3vh;
  }

  & form {
    font-family: "Montserrat", sans-serif;
    margin: 0;

    & p,
    button {
      margin: 0 3vw 3vh;
    }
  }

  & p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 0;
  }

  & p:last-child {
    font-weight: 400;
    font-size: 1rem;
  }
}

.form-background {
  background-color: #FFF;
  padding: 3vh 3vw;
  margin-bottom: 3vh;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 6px 1px;
  & h2 {
    margin: 0;
    margin-bottom: 3vh;
    font-weight: 600;
  }
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin: 2vh 8vw 2vh 0;
  & label {
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 0.8rem;
  }

  & input {
    max-width: 300px;
    padding: 6px;

    font-size: 0.9rem;
    font-weight: 500;

    border: 2px solid #e6e6e6;
    border-radius: 4px;
  }

  & input:focus {
    outline: none;
    border: 2px solid #7c8c7d;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 6px;
  }

  & input:invalid {
    border: 2px solid #d48f57;
  }
}